<html>
<body>
    
    <form action="gravar" method="POST">
        <p>
            <label>Nome: </label>
            <input type="text" name="nome"/>
        </p>
        <p>
            <label>Email: </label>
            <input type="text" name="email"/>
        </p>
        <p>
            <label>Senha: </label>
            <input type="password" name="senha"/>
        </p>
        <p>
            <input type="submit" value="enviar"/>
        </p>
    </form>

    <p><a href = "/listar">Clique aqui exibir a lista de cadastrados.</a></p>

</body>
</html>
